<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sampleimg.html</title>
</head>
<body>

    <h1>홍길동</h1>

    <img src="/images/a.png">   <!-- file:///C:/upload 이부분을 /images로 접근가능하도록 설정하였음 -->
    <img src="file:///C:/upload/a.png"> <!-- 경로를 그대로 노출하면 보안에 취약해짐 -->

    <!-- enctype="multipart/form-data" 이게 있어야 컨트롤러로 값이 보내질때 MultipartFile타입으로 이미지를 받을 수 있다-->
    <form action="/img" method="post" enctype="multipart/form-data">

        글자 : <input name="str"> <br>
        파일업로드 : <input name="mul" type="file">
        <button>타입이 없다면 티폴트 서브밋</button>

    </form>

    <script>

        let fielD = $("input")
        fielD.on("change", function () {
            let reader = new FileReader()
            console.log($(this))
        })

    </script>

</body>
</html>